################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AutoComplete/obj
/AutoComplete/bin
/AutoCompleteUnitTests/obj
/AutoCompleteUnitTests/bin
/CitiesSuggestions/obj
/CitiesSuggestions/bin