
@{
    ViewData["Title"] = "CitySearch";
}

<h2>CitySearch</h2>
<asp:TextBox ID="txtArtistID" runat="server" /><br /><br />
<asp:Button ID="btnSearch" runat="server" Text="Search" CssClass="submit" />

